@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #DFBC94;
  /* background-image: url("../../public/saucy_chef_logo_hot.png");
  background-repeat: no-repeat;
  background-size: cover; */
}
